<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>149 TAO 會員訂單中心</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../../../../../149tao/149tao/stone/src/main/resources/static/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div style="text-align:center;"><h2 class="page-header">149 TAO 會員訂單中心</h2></div>

    <p class="text-right">
        <a href="./show.html" th:href="@{/show}" class="btn btn-primary">礦礦區</a>
    </p>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>批數</th>
            <th>礦種</th>
            <th>產地</th>
            <th>照片</th>
            <th>價格</th>
            <th>購買時間</th>
            <th>訂單狀態</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="sell ,iterStat:${sells}">
            <td th:text="${sell.sellGroup}">第幾批</td>
            <td th:text="${sell.name}">礦種</td>
            <td th:text="${sell.origin}">產地</td>
            <th scope="row"><img alrt="" th:src="${'data:image/jpeg;base64,' + {sell.image}}"
                                 style="width: 50px;height: 50px"></th>
            <td th:text="${sell.price}">價格</td>
            <td th:text="${#dates.format(sell.sellTime,'yyyy-MM-dd')}">購買時間</td>
            <td th:switch="${sell.sellStatus}">
                <span th:case="0">付款中</span>
                <span th:case="1">已付款</span>
                <span th:case="2">已出貨</span>
                <span th:case="3">已收件</span>
                <span th:case="4">已評論</span>
            </td>



        </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>批數</th>
            <th>總金額</th>
            <th>批數狀態</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="sold ,iterStat:${sold}">
            <td th:text="${sold.sellGroup}">第幾批</td>
            <td th:text="${sold.price}">總金額</td>
            <td th:switch="${sold.sellStatus}">
                <span th:case="0">付款中</span>
                <span th:case="1">已付款</span>
                <span th:case="2">已出貨</span>
                <span th:case="3">已收件</span>
                <span th:case="4">已評論</span>
            </td>


        </tr>
        </tbody>
    </table>


</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"
        src="../../../../../../149tao/149tao/stone/src/main/resources/static/js/bootstrap.min.js"></script>
</body>
</html>
