<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <span th:if="${pagestatus} == 0" ><title>149 TAO 賣家出貨區</title></span>
    <span th:if="${pagestatus} == 1" ><title>149 TAO 賣家寄件區</title></span>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../../../../../149tao/149tao/stone/src/main/resources/static/css/bootstrap.min.css" >
</head>
<body>

    <div class="container">
        <span th:if="${pagestatus} == 0" ><div style="text-align:center;"><h2 class="page-header" >149 TAO 賣家出貨區</h2></div></span>
        <span th:if="${pagestatus} == 1" ><div style="text-align:center;"><h2 class="page-header" >149 TAO 賣家寄件區</h2></div></span>

        <p class="text-right">
        <a href="./listSell.html" th:href="@{/stones}" class="btn btn-primary">礦石表單</a>
            <span th:if="${pagestatus} == 0" ><a href="./listSell.html" th:href="@{/stones/listSold/Send}" class="btn btn-primary">寄件區</a></span>
            <span th:if="${pagestatus} == 1" ><a href="./listSell.html" th:href="@{/stones/listSold}" class="btn btn-primary">出貨區</a></span></p>
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>礦礦編號</th>
                <th>礦種</th>
                <th>大小</th>
                <th>價格</th>
                <th>照片</th>
                <th>進銷存狀態</th>
                <th>批數</th>
                <th>買家名稱</th>
                <th>買家手機</th>
                <th>買家寄件地址</th>
                <th>買家觀看狀態</th>
                <th>編輯</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sell,iterStat:${page.content}" >
                <td th:text="${sell.stoneId}"礦礦編號></td>
                <td ><a href="#" th:text="${sell.name}" th:href="@{'/listSell/' + ${sell.id}}">礦種</a></td>
                <td th:text="${sell.size}">大小</td>
                <td th:text="${sell.price}">價格</td>
                <th scope="row" ><img alrt=""  th:src="${'data:image/jpeg;base64,' + {sell.image}}" style="width: 50px;height: 50px"> </th>
                <td th:switch="${sell.status}">
                    <span th:case="3">貼文上架</span>
                    <span th:case="4">已售出</span>
                    <span th:case="5">扭蛋</span>
                    <span th:case="6">抽獎</span>
                    <span th:case="7">售友人</span>
                    <span th:case="8">自留</span>
                    <span th:case="9">付款中</span>
                    <span th:case="*">狀態</span>
                </td>
                <td th:text="${sell.sellGroup}">批數</td>
                <td th:text="${sell.username}">買家名子</td>
                <td th:text="${sell.phone}">買家手機</td>
                <td th:text="${sell.send}">買家寄件地址</td>
                <td th:switch="${sell.sellStatus}">
                    <span th:case="0">付款中</span>
                    <span th:case="1">已付款</span>
                    <span th:case="2">已出貨</span>
                    <span th:case="3">已收件</span>
                    <span th:case="4">已評論</span>
                </td>

                <td>
                    <button type="button" class="btn btn-success btn btn-success btn-sm mt-2" data-toggle="modal"
                            th:attr="data-target='#exampleModalCenter' + *{sell.id}">
                        編輯
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" th:id="*{'exampleModalCenter' + {sell.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">更新</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/changeSellStatus" method="post">
                                        <div class="form-group">
                                            <input type="hidden" th:value="${sell.id}" name="id">

                                            <label>進銷存狀態</label>
                                            <!--                                            <input type="switch" th:value="*{stone.status}" class="form-control" name="status">-->
                                            <select th:value="*{sell.status}" name="status" class="form-control">
                                                <option value="0" th:selected="(*{status} == '0')">採購未付</option>
                                                <option value="1" th:selected="(*{status} == '1')">採購已付</option>
                                                <option value="2" th:selected="(*{status} == '2')">已到貨</option>
                                                <option value="3" th:selected="(*{status} == '3')">貼文上架</option>
                                                <option value="4" th:selected="(*{status} == '4')">已售出</option>
                                                <option value="5" th:selected="(*{status} == '5')">扭蛋</option>
                                                <option value="6" th:selected="(*{status} == '6')">抽獎</option>
                                                <option value="7" th:selected="(*{status} == '7')">售友人</option>
                                                <option value="8" th:selected="(*{status} == '8')">自留</option>
                                                <option value="*" th:selected="(*{status} == '*')">狀態</option>
                                            </select>

                                            <label>買家觀看狀態</label>
                                            <!--                                            <input type="switch" th:value="*{stone.status}" class="form-control" name="status">-->
                                            <select th:value="*{sell.sellStatus}" name="sellStatus" class="form-control">
                                                <option value="0" th:selected="(*{status} == '0')">付款中</option>
                                                <option value="1" th:selected="(*{status} == '1')">已付款</option>
                                                <option value="2" th:selected="(*{status} == '2')">已出貨</option>
                                                <option value="3" th:selected="(*{status} == '3')">已收件</option>
                                                <option value="4" th:selected="(*{status} == '4')">已評論</option>
                                                <option value="*" th:selected="(*{status} == '*')">狀態</option>
                                            </select>
                                            <br>
                                            <button type="submit" class="btn btn-primary">更改</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li class="previous"><a href="#" th:href="@{'/stones?page=' +  ${page.number-1}}" th:unless="${page.first}">上一頁</a> </li>
                <li class="next"><a href="#" th:href="@{/stones(page = ${page.number} +1)}" th:unless="${page.last}">下一頁</a> </li>
            </ul>
        </nav>
    </div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../../../../../../149tao/149tao/stone/src/main/resources/static/js/bootstrap.min.js"></script>
</body>
</html>
