<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>149 TAO 購物車</title>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../../../../../149tao/149tao/stone/src/main/resources/static/css/bootstrap.min.css" >
</head>
<body>

<div class="container">
    <div style="text-align:center;">
    <h3 class="page-header" th:text="${session.user.username} + '購物車'" ></h3>
    </div>

    <p class="text-right">
        <a href="./show.html" th:href="@{/show}" class="btn btn-primary">礦礦區</a>
    </p>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>購物車號碼</th>
            <th>礦種</th>
            <th>產地</th>
            <th>照片</th>
            <th>價格</th>
            <th>刪除</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="cart ,iterStat:${carts}" >
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${cart.stoneName}">礦種</td>
            <td th:text="${cart.origin}">產地</td>
            <th scope="row" ><img alrt=""  th:src="${'data:image/jpeg;base64,' + {cart.stoneImage}}" style="width: 50px;height: 50px"> </th>
            <td th:text="${cart.price}">價格</td>
            <td>
                <a herf="#" th:href="@{/show/{id}/{uid}/delete (id=${cart.id},uid=${session.user.id})}">刪除</a>
            </td>


        </tr>
        </tbody>
    </table>


    <div class="wrapper">
        <div class="modal-footer">
            <span style="font-size:30px;">總金額：$<span style="font-size:30px;"  th:text="${user.totalPrice}"></span></span>
            <span th:if="${user.totalPrice} eq '0'" style="font-size: 20px;" ><a href="#" th:href="@{/show}"
                                                                                 class="btn btn-danger">返回</a></span>
            <span th:if="${user.totalPrice} gt '0'" style="font-size: 20px;"><a href="./checkCart.html" th:href="@{/show/{uid}/checkCart(uid=${user.id})}" class="btn btn-danger">前往買單</a></span>
        </div>
    </div>

    </footer>
</div>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../../../../../149tao/149tao/stone/src/main/resources/static/js/bootstrap.min.js"></script>
</body>
</html>
