<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>149 TAO 礦礦區</title>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../../../../../149tao/149tao/stone/src/main/resources/static/css/bootstrap.min.css" >
</head>
<body>

<div class="container">
    <div style="text-align:center;"><h2 class="page-header" >149 TAO 礦礦區</h2></div>
    <div class="alert alert-danger alert-dismissable fade in"  th:unless="${#strings.isEmpty(message)}">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Hi，</strong>
        <span th:text="${message}">已在購物車喽！</span>
    </div>

    <p class="text-right"><a href="./myCart.html" th:href="@{/show/{id}/myCart(id=${session.user.id})}" class="btn btn-primary">查看購物車</a>
    <a href="./myCart.html" th:href="@{/finishCart/{id}/sold(id=${session.user.id})}" class="btn btn-primary">訂單中心</a>

    </p>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>號碼</th>
            <th>礦種</th>
            <th>產地</th>
            <th>大小</th>
            <th>介紹</th>
            <th>價格</th>
            <th>照片</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="sell,iterStat:${page.content}" >

            <td th:text="${sell.stoneId}"礦礦編號></td>
            <td ><a href="#" th:text="${sell.name}" th:href="@{'/listSell/' + ${sell.id}}">礦種</a></td>
            <td th:text="${sell.origin}" >產地</td>
            <td th:text="${sell.size}">大小</td>
            <td th:utext="${sell.introduce}">介紹</td>
            <td th:text="${sell.price}">價格</td>
            <th scope="row" ><img alrt=""  th:src="${'data:image/jpeg;base64,' + {sell.image}}" style="width: 50px;height: 50px"> </th>

            <td>
                <a herf="#" th:href="@{/show/{sid}/{uid}/cart (sid=${sell.id},uid=${session.user.id})}">加入購物車</a>

            </td>



        </tr>
        </tbody>
    </table>



    <nav>
        <ul class="pager">
            <li class="previous"><a href="#" th:href="@{'/stones?page=' +  ${page.number-1}}" th:unless="${page.first}">上一頁</a> </li>
            <li class="next"><a href="#" th:href="@{/stones(page = ${page.number} +1)}" th:unless="${page.last}">下一頁</a> </li>
        </ul>
    </nav>
</div>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../../../../../149tao/149tao/stone/src/main/resources/static/js/bootstrap.min.js"></script>
</body>
</html>
